[Install]
WantedBy=graphical-session.target

[Service]
Environment="PATH=%h/.local/bin:%h/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart="/home/spaniol/.cargo/bin/tomat" daemon run
Restart=on-failure
RestartSec=5

[Unit]
After=graphical-session.target
Description=Tomat Pomodoro server
PartOf=graphical-session.target
