# Ignore everything
*

# Except
!.gitignore

!.config/
!.config/helix/
!.config/helix/**
!.config/sway/
!.config/sway/**
!.config/waybar/
!.config/waybar/**
!.config/foot/
!.config/foot/**
!.config/firefox/
!.config/firefox/**
!.config/niri/
!.config/niri/**
!.config/xplr/
!.config/xplr/**

# 'runtime' is a symlink and its contents are not added to git. I'm ignoring it
# so that its contents don't show up on helix file picker
.config/helix/runtime/**

!lyconfig.ini
!.zshrc
!.zprofile
