# Ignore everything
*

# Except
!.gitignore
!.config/
!.config/helix/
!.config/helix/**
!.config/sway/
!.config/sway/**
!.config/waybar/
!.config/waybar/**
!.config/foot/
!.config/foot/**
!.config/niri/
!.config/niri/**
!lyconfig.ini
!.zshrc
