* {
  font-family: "JetBrainsMono NF";
  font-size: 16px;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces button {
  border-radius: 0;
  padding: 0 10px;
}

#workspaces button:not(.focused) {
  color: #666;
}

#workspaces button.focused {
  color: #264de7;
  box-shadow: inset 0 2px #264de7;
}

#workspaces button:hover {
  background: black;
}

#battery.warning:not(.charging) {
  color: #f2a827;
  box-shadow: inset 0 2px #f2a827;
}

#battery.critical:not(.charging) {
  color: #f2420c;
  box-shadow: inset 0 2px #f2420c;
}

#pulseaudio.muted {
  color: #666;
  box-shadow: inset 0 2px #666;
}

#cpu.high {
  color: #f2420c;
  box-shadow: inset 0 2px #f2420c;
}

button {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  border: none;
  outline: none;
}
