/* Make the toolbar border a little more visible */
:root, :host(.anonymous-content-host) {
  --border-color-card: color-mix(in srgb, currentColor 20%, transparent) !important;
}

html { min-width: 0 !important; }

/* Hide some unimportant stuff from the toolbar */
.titlebar-buttonbox-container,
#page-action-buttons,
#tracking-protection-icon-container {
  display: none !important;
}

/* Ctrl+Tab menu */

.ctrlTab-preview .ctrlTab-canvas {
  display: none !important;
}

#ctrlTab-previews {
  flex-direction: column !important;
  gap: 20px;
}

#ctrlTab-panel {
  width: max-content !important;

  transition: none !important;

  left: unset !important;
  right: unset !important;
  top: unset !important;
  bottom: unset !important;
}

.ctrlTab-preview-inner {
  width: 500px;
  flex-direction: row;
}

.ctrlTab-favicon {
  margin-top: 0 !important;
}

.ctrlTab-label {
  justify-content: left !important;
  padding-left: 20px;
  padding-top: 13px;
}

/* Hide bottommost icons in the collapsed sidebar  */
button[title^="Bitwarden"], button[title="Customize sidebar"] {
  display: none !important;
} 

/* Hide "music playing" icon on tabs */
image.tab-icon-overlay[soundplaying] {
  display: none !important;
}

/* Align the sidebar button to the sidebar icons */
#sidebar-button {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

/* Cause I have a keyboard */
#back-button, #forward-button {
  display: none !important;
}
