html { min-width: 0 !important; }

/* Hide some unimportant stuff from the toolbar */
.titlebar-buttonbox-container,
#page-action-buttons,
#tracking-protection-icon-container {
  display: none !important;
}

/* Hide bottommost icons in the collapsed sidebar  */
button[title="Customize sidebar"] {
  visibility: hidden !important;
} 

/* Hide "music playing" icon on tabs */
image.tab-icon-overlay[soundplaying] {
  display: none !important;
}

/* Align the sidebar button to the sidebar icons */
#sidebar-button {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

/* Cause I have a keyboard */
#back-button, #forward-button {
  display: none !important;
}

#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: 1px inset var(--tab-selected-outline-color) !important;
  border-top-left-radius: 8px;
  outline-offset: 1px;
  overflow: hidden;
}
