input {
    keyboard {
        xkb {
            // Change keyboard
            layout "us,us"
            variant "intl,colemak"
            options "caps:swapescape,numpad:mac"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        disabled-on-external-mouse
    }

    // Navigating into another window moves the cursor to its center
    warp-mouse-to-focus
}

gestures {
    hot-corners {
        off
    }
}

// Monitor 
output "eDP-1" {
    mode "1920x1080@120.035"
}

layout {
    gaps 16

    default-column-width {
        proportion 0.5
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        width 2
        active-color "#eee"
    }

    struts {
        top -12
        left 12
        right 12
    }

    tab-indicator {
        active-color "#eee"
        inactive-color "#96e7ff88"
        width 6
        gap 6
        corner-radius 10
        gaps-between-tabs 8
        length total-proportion=0.2
        place-within-column
        hide-when-single-tab
    }

    always-center-single-column
    background-color "transparent"
}

cursor {
    hide-after-inactive-ms 1000
    hide-when-typing
}

binds {
    Alt+Y { toggle-windowed-fullscreen; }

    Alt+Return repeat=false { spawn "foot"; }
    Alt+Escape repeat=false { spawn "foot" "--title" "launcher" "gyr" "--nosway" "-r"; }
    Alt+Space repeat=false { toggle-overview; }

    XF86AudioRaiseVolume { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%"; }
    XF86AudioLowerVolume { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%"; }
    XF86AudioMute        { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }

    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-" "-n"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }

    Alt+Shift+Q { close-window; }

    Alt+G { focus-column-first; }
    Alt+H { focus-column-left; }
    Alt+J { focus-window-down; }
    Alt+K { focus-window-up; }
    Alt+L { focus-column-right; }
    Alt+Semicolon { focus-column-last; }

    Alt+Shift+G { move-column-to-first; }
    Alt+Shift+H { move-column-left; }
    Alt+Shift+J { move-window-down; }
    Alt+Shift+K { move-window-up; }
    Alt+Shift+L { move-column-right; }
    Alt+Shift+Semicolon { move-column-to-last; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }

    Alt+Shift+1 { move-column-to-workspace 1; }
    Alt+Shift+2 { move-column-to-workspace 2; }
    Alt+Shift+3 { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }
    Alt+Shift+6 { move-column-to-workspace 6; }
    Alt+Shift+7 { move-column-to-workspace 7; }
    Alt+Shift+8 { move-column-to-workspace 8; }
    Alt+Shift+9 { move-column-to-workspace 9; }

    Alt+Tab repeat=false { focus-workspace-previous; }

    // Moves a window left or right, but allows it to be consumed into columns
    // in its way
    Alt+N  { consume-or-expel-window-left; }
    Alt+M { consume-or-expel-window-right; }
    Alt+T { toggle-column-tabbed-display; }

    Alt+F { maximize-column; }
    Alt+Shift+F { fullscreen-window; }

    Alt+C { center-window; }

    // Column width
    Alt+Minus { set-column-width "-10%"; }
    Alt+Equal { set-column-width "+10%"; }

    // Window height
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }

    // Floating window behaviour
    Alt+Shift+W { toggle-window-floating; }
    Alt+W       { switch-focus-between-floating-and-tiling; }

    // Toggle between the configured window/column heights and widths
    Alt+R       { switch-preset-column-width; }
    Alt+Shift+R { switch-preset-window-height; }

    Alt+F10       repeat=false { spawn ".local/bin/screenshot"; }
    Alt+Shift+F10 repeat=false { spawn ".local/bin/screenshot_all"; }

    // Exit Niri (spawns prompt asking for confirmation)
    Alt+Shift+E { quit; }
}

// Disable the popup at the startup showing Niri's keybinds
hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y%m%d-%H%M%S.png"

// Asks new windows to disable its client-side decorations
prefer-no-csd

window-rule { // Launcher window
    match app-id="foot" title="launcher"
    open-floating true
    default-window-height { fixed 500; }
    default-column-width { fixed 600; }
}

window-rule { // Wi-fi manager window
    match app-id="foot" title="wifi"
    open-floating true
    default-window-height { fixed 700; }
    default-column-width { fixed 700; }
}

window-rule { // Firefox PiP
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule { // All windows
    geometry-corner-radius 4
    clip-to-geometry true
}

// Make swaybg and waybar both stay in place when I change workspaces
layer-rule {
    match namespace="^wallpaper$"
    match namespace="waybar"
    match at-startup=true

    place-within-backdrop true
}

overview {
    workspace-shadow {
        softness 50
        spread 50
        offset x=0 y=0
        color "#00000044"
    }
}

spawn-at-startup "xwayland-satellite"

environment {
    DISPLAY ":0"
    MOZ_ENABLE_WAYLAND "1"
}
